@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
	*{
		margin: 0;
		padding: 0;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		z-index: -1;
		top: 0;left: 0;
		background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../V/IMG/FerreteriaFondo.png);
		background-size: 100vw 100vh;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.capa h1{
		font-family: 'Montserrat Alternates', sans-serif;
		font-weight: bold;
		font-size: 4em;
		text-transform: uppercase;
		text-align: center;
		transform: translateY(45vh);
		color: #ffde59c9;
		text-shadow: 0 0px 10px, 0 0 2px #fffb00, 0 0 0.3px #fffb00, 0 0 0.3px #fffb00,
		0 8px 3px #333;
	}
	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;left: 0;
	}
	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
	}
	.container .btn-menu{
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: #fff;
		font-size: 25px;
		cursor: pointer;
	}
	.logo h1{
		color: #fff;
		font-weight: 900;
		font-size: 26px;
		font-family: "Merriweather", serif;
		float: right;
		line-height:100px;
		letter-spacing:0.1cap;
		text-shadow: 0 0px 10px, 0 0 2px #ffffff, 0 0 0.2px #d5ceda, 0 0 0.2px #ffffff,
		0 8px 3px #333;
	}

	img
	{
		margin: 8px;
	}
	.container .menu{
		float: right;
		line-height: 100px;
	}
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #fff;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-right: 5px;
	}
	.container .menu a:hover{
		border-bottom: 2px solid #c7c7c7;
		padding-bottom: 5px;
	}
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
		}

	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100%;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #1c1c1c;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.container-menu nav a:hover{
		border-left: 5px solid #ffde59;
		background: #1f1f1f;
	}
	.container-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #ffde59;
		cursor: pointer;
		font-size: 25px;
	}
	/*Fin de Menù lateral*/ 
	.sau{
		padding:50px 0;
		background: #52575D;
	}

	.container-info {
		background-color: white;
		margin-top: 100vh;
		height: 60vh;
	}

	.container-info h3 {
		padding: 1%;
		font-family: 'poppins';
		font-weight: 500;
		font-size: 35px;
		text-align: center;
	}

	#carouselExampleCaptions{
		width: auto;
		margin-top: 10%;
		display: flex;
		align-items: center;
		justify-content: center;
	}