@import url('https://fonts.googleapis.com/css2?family=Rakkas&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
}

.capa {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: -1;
	top: 0;
	left: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../V/IMG/FerreteriaFondo.png);
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.capa h1 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: bold;
	font-size: 3.5em;
	text-transform: uppercase;
	text-align: center;
	transform: translateY(45vh);
	color: #ffde59c9;
	text-shadow: 0 0px 10px, 0 0 2px #fffb00, 0 0 0.3px #fffb00, 0 0 0.3px #fffb00,
		0 8px 3px #333;
}

/*Estilos para el encabezado*/
.header {
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	position: fixed;
	background: linear-gradient(to top, rgba(77, 74, 74, 0), rgba(0, 0, 0, 0.594));
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

.container .btn-menu {
	float: left;
	line-height: 100px;
}

.container .btn-menu label {
	color: #fff;
	font-size: 25px;
	cursor: pointer;
}

.logo h1 {
	color: #fff;
	font-weight: 800;
	font-size: 34px;
	font-family: "Satisfy", cursive;
	float: right;
	line-height: 100px;
	letter-spacing: 0.2cap;
	text-shadow: 0 0px 8px, 0 0 1px #ffffff8c, 0 0 0.1px #d5ceda, 0 0 0.1px #ffffff8c,
		0 10px 3px #333;
}

img {
	margin: 8px;
}

.container .menu {
	float: right;
	line-height: 100px;
}

.container .menu a {
	display: inline-block;
	padding: 15px;
	line-height: normal;
	text-decoration: none;
	color: #fff;
	transition: all 0.3s ease;
	border-bottom: 2px solid transparent;
	font-size: 15px;
	margin-right: 5px;
}

.container .menu a:hover {
	border-bottom: 2px solid #c7c7c7;
	padding-bottom: 5px;
}

/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu {
	display: none;
}

.container-menu {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}

#btn-menu:checked~.container-menu {
	opacity: 1;
	visibility: visible;
}

.cont-menu {
	width: 100%;
	max-width: 250px;
	background: #1c1c1c;
	height:100vh;
	position: absolute;
	transition: all 500ms ease;
	transform: translateX(-100%);
}

#btn-menu:checked~.container-menu .cont-menu {
	transform: translateX(0%);
}

.cont-menu nav {
	transform: translateY(15%);
}

.cont-menu nav a {
	display: block;
	text-decoration: none;
	padding: 20px;
	color: #c7c7c7;
	border-left: 5px solid transparent;
	transition: all 400ms ease;
	font-family: 'Poppins';
	transition-delay: 0.1s;
}

.container-menu nav a:hover {
	border-left: 5px solid #ffde59;
	background: #1f1f1f;
	text-shadow: 0px 0px 10px, 0 0 2px #ffffff, 0 0 0.4px #ffffff, 0 0 0.4px #ffffff;
}

.container-menu label {
	position: absolute;
	right: 5px;
	top: 10px;
	color: #ffde59;
	cursor: pointer;
	font-size: 25px;
}
/*Fin de Menù lateral*/

/*Select*/
form {
	font-family: 'Poppins';
}

.info-reserva ul li {
	list-style: none;
	text-align: left;
}

.sau {
	padding: 50px 0;
	background: #52575D;
}

/* Tarjetas con información de reservas*/
.con{
	background-color: white;
	background-size: cover;
}
.con #cards{
	justify-content: center;
	width: 100%;
	padding-bottom: 4vh;
	background-size: cover;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	background: white;
}

.con h3{
	font-family: "Satisfy", cursive;
	font-weight: 500;
	font-size: 4em;
	text-align: center;
	padding: 0.8em;
}
.con .carD {
	background-size: cover;
	margin:2vh;
}

.con .carD .face {
	width: 300px;
	height: 200px;
	transition: 0.4s;
}

.con .carD .face.face1 {
	position: relative;
	background: #1f1f1f;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(100px);
	border-radius: 6px;
	font-family: "Satisfy", cursive;
	;
}

.con .carD:hover .face.face1 {
	transform: translateY(0);
	box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.877), inset 20px 0 80px #f7e686,
		inset -20px 0 80px #f7e686, inset 20px 0 300px #0000000e, inset -20px 0 300px #f7e686,
		0 0 50px #f7e686, -10px 0 0px #f7e686, 8px 0 20px #f7e686;
}

.con .carD .face.face1 .content {
	opacity: 0.25;
	transition: 0.5s;
	text-align: center;
}

.con .carD:hover .face.face1 .content {
	opacity: 1;
}

.con .carD .face.face1 .content i {
	font-size: 3em;
	color: white;
	display: inline-block;
}

.con .carD .face.face1 .content h3 {
	font-size: 2em;
	color: white;
	text-align: center;
}

.con .carD .face.face1 .content button{
	font-family: 'Poppins';
	background-color: #ffde59a8;
	border-color: #ffde59a8;
}

.con .carD .face.face1 .content button:hover {
	background-color: #ffde59d7;
	border-color: #ffde59d7;
}

.con .carD .face.face2 {
	position: relative;
	background: rgb(255, 255, 255);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.8);
	transform: translateY(-100px);
	border-radius: 7px;
	text-align: center;
	font-family: 'Poppins';
	font-size: 15px;
}

.con .carD:hover .face.face2 {
	transform: translateY(0);
}

/*Fin - tarjeta de reservas*/

.container-info {
	background-color: white;
	margin-top: 100vh;
	height: 60vh;
}

.container-info h3 {
	padding: 1%;
	font-family: "Satisfy", cursive;
	font-weight: 500;
	font-size: 4em;
	text-align: center;
}

#carouselExampleCaptions {
	width: auto;
	margin-top: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer {
	width: 100%;
	padding: 40px 0px;
	background-size: cover;
	background-color: #1f1f1f;
	font-family: 'Poppins';
}

.container__footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
	margin-top: 100px;
}

.box__footer {
	display: flex;
	flex-direction: column;
	padding: 40px;
}

.box__footer .logo img {
	width: 180px;
}

.box__footer .terms {
	max-width: 350px;
	margin-top: 20px;
	font-weight: 500;
	color: #fcf7f7;
	font-size: 18px;
}

.box__footer h2 {
	margin-bottom: 30px;
	color: #ffffff;
	font-weight: 700;
}

.box__footer a {
	margin-top: 10px;
	color: #f7e686;
	font-weight: 600;
	border-radius: 1px;
	text-decoration: none;
	transition-delay: 0.1s;
	transition-duration: 0.2s;
}

.box__footer a:hover {
	opacity: 0.7;
}

.box__footer a .fab {
	font-size: 20px;
	padding-right: 10px;

}

.box__copyright {
	max-width: 1200px;
	margin: auto;
	text-align: center;
	padding: 0px 40px;
}

.box__copyright p {
	margin-top: 20px;
	color: #ffffff;
}

.box__copyright p b {
	font-family: "Satisfy", cursive;
	font-size: larger;
	transition-delay: 0.1s;
	transition-duration: 0.2s;
}

.box__copyright p b:hover {
	opacity: 0.7;
}

.box__copyright hr {
	border: none;
	height: 3px;
	background-color: #fafa17;
}

@media (max-width:800px) {
	.header {
		padding: 20px;
	}

	.header label {
		display: initial;
	}

	.header .container {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: #1f1f1f;
		display: none;
	}

	.header .container ul li {
		width: 100%;

	}

	.header .container li a {
		color: white;
	}

	.menu:checked~.header {
		display: initial;
	}

	.submenu:hover #carrito {
		min-width: 100%;
	}

	.header {
		min-height: 0vh;
	}

	.contenido-header {
		padding: 50px 0;
		flex-direction: column;
	}

	.header-img {
		display: none;
	}

	.header-txt {
		flex-basis: 100%;
		text-align: center;
	}

	.header-txt h1 {
		font-size: 70px;
	}

	.ofert {
		padding: 30px 30px 0 30px;
		flex-direction: column;
	}

	.ofert-1 {
		margin-bottom: 30px;
	}

	.products-container {
		padding: 0 30px 30px 30px;
	}

	.products-container h2 {
		margin-bottom: 30px;
	}

	.product-content {
		grid-template-columns: repeat(1, 1fr);
		gap: 30px;
	}

	.product img {
		width: 200px;
		height: 280px;
	}

	.icons {
		padding: 30px;
		flex-direction: column;
	}

	.icon-1 {
		margin-bottom: 30px;
	}

	.blog {
		padding: 0 30px 30px 30px;
		flex-direction: column;
	}

	.blog-1 {
		margin-bottom: 30px;
	}

	.container__footer {
		padding: 30px;

	}

	.box__footer {
		flex-direction: column;
	}
}